<div class="row">
	<div class="span4">
	<%= simple_form_for(resource, :as => resource_name, :url => session_path(resource_name), html: {class: "well"}) do |f| %>

	<fieldset>
		<legend>Sign In</legend>
		<%= f.input :email %>
		<%= f.input :password %>

	  <% if devise_mapping.rememberable? -%>
	    <div><%= f.input :remember_me, as: :boolean %> </div>
	  <% end -%>

	  <div><%= f.button :submit, "Sign In" %></div>
	</fieldset>
	<% end %>
	<%= render "devise/shared/links" %>
	</div>
	<div class="span8">
		<h2>Welcome to Susies Cinnamon Bread</h2>
		<p>We're glad you're here! Sign in using the form to the left. If you don't have an account yet, contact a member of our family to see about how you can create one.</p>
		<img src="assets/login-bread.jpg" class="login-img" >
	</div>	
</div>